* {
    box-sizing: border-box;
}

html {
    background-color: rgb(250, 250, 250);
}

body {
    width: 300px;
    margin: 0 auto;
    padding: 1em;
    font-family: sans-serif;
    font-size: 16px;
    background-color: white;
}

form > button[type=submit] {
    margin-top: 0.5em;
}

form > input[type=text] {
    width: 100%;
    margin-top: 0.3em;
}

#tasks > div {
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: rgb(250, 250, 250);
    border: 1px rgb(230, 230, 230) solid;
}
